<div class="container" style="margin: 3%;">
    <div layout="row">
        <div flex>
            <h1>{{title}}</h1>
           
        </div>
        <div flex>
            <img src="assets/imgs/avengers.jpg" class="img-header">
        </div>
    </div>
    
    
    <nav>
        <button mat-stroked-button  color="primary" routerLink="/dashboard">Dashboard</button>
        <button mat-stroked-button color="primary"routerLink="/heroes">Heroes</button>
    </nav>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>
