

<ul style="margin-left: 15%;width: 17%;">
  <mat-list>
    <mat-list-item *ngFor="let hero of heroes" style="margin-top: 5px;">
      <nav routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{ hero.name }}
      </nav>
      <button class="delete"  mat-mini-fab color="primary" title="delete hero" routerLink="/detail/{{hero.id}}">
        <i class="material-icons">
          edit
        </i>
      </button><button class="delete"  mat-mini-fab color="warn" title="delete hero" (click)="delete(hero)">
        <i class="material-icons">
          clear
        </i>
      </button><br>
      <mat-divider></mat-divider>
    </mat-list-item>
   

  </mat-list>
  <div class="container add-hero">
    <form>
      <mat-form-field class="example-full-width input-hero">
        <input matInput placeholder="add Hero" #heroName>
      </mat-form-field>
  
  
      <button class="btn-add" mat-mini-fab aria-label="add Hero" color="primary" (click)="add(heroName.value); heroName.value=''">
        <i class="material-icons">
          add
        </i>
      </button>
    </form>
  
  </div>  
</ul>