<ul style="margin-left: 15%;width: 17%;">
  <i *ngFor="let hero of heroes"style="margin-top: 5px;" (click)="onSelect(hero)">
    <span class="badge" >name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </span>
  </i>

  <!-- <div *ngIf="selectedHero">

    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name" />
      </label>
    </div>

  </div> -->
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>

</ul>
