.add-hero {
    margin: 5% 0% 6% 1%
}

.btn-add {
    margin-left: 10px;

}

nav {
   width: 200px;
   cursor: pointer;
}

mat-list-item {
    margin-top: 10px;
}

button {
    width: 29px !important;
    height: 29px !important;
    margin-right: 8px !important;

    i {
        margin-top: -10px;
        font-size: 17px;
    }
}

mat-form-field {
    width: 215px;
    margin-top: 10px;
}


